<a href="https://colab.research.google.com/github/carterliston013/DCS-110/blob/main/Intro_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
print('Hello World!')

Hello World!

#Variables
In this section, we'll discuss variables

In [8]:
a = 'Boston'

In [9]:
print (a)

Boston

In [23]:
print (a[-1])

n

In [26]:
2+3

5

In [27]:
b = 2
c = 3

In [34]:
b+c

5

In [35]:
d = b + c

In [37]:
b=2
c=3
d=b+c
print(d)

5

In [38]:
type(d)

int

In [39]:
type(a)

str

In [43]:
5**2

25

In [44]:
print(5**2)

25

# Data Structures (Containers)

List

In [45]:
My_List=[1, 2, 3, 5, 'a']

In [46]:
print(My_List)

[1, 2, 3, 5, 'a']

In [47]:
print(My_List[0])

1

In [48]:
My_List[0]=10

In [49]:
print(My_List)

[10, 2, 3, 5, 'a']

Tuples

In [51]:
My_Tuple=(12, 'finger', 7, 'ichabod', 'porcupine', 19)

In [52]:
print(My_Tuple)

(12, 'finger', 7, 'ichabod', 'porcupine', 19)

In [53]:
print(My_Tuple[0])

12

In [56]:
My_Tuple[0]=38

TypeError: 'tuple' object does not support item assignment

Dictionary

In [59]:
My_Dictionary={
    'Name':"Cringle",
    'Age':348,
    'Gender':'Male',
    'City':'North Pole'

}

In [60]:
My_Dictionary['Name']

'Cringle'

Sets

In [61]:
My_Set={1, 2, 3, 4, 5, 5}

In [62]:
print(My_Set)

{1, 2, 3, 4, 5}

In [63]:
#We cannot access values in the set
My_Set[0]

TypeError: 'set' object is not subscriptable

# **Functions**

In [64]:
temp = (4 * 9/5) + 32
print(temp)

39.2

In [67]:
temp = (-6 * 9/5) + 32
print(temp)

21.2

In [81]:
def celsius_to_fahrenheit (celsius):
  fahrenheit = (celsius * 9/5) + 32
  return fahrenheit

In [71]:
celsius_to_fahrenheit (100)

212.0

Formatted String Literals

In [73]:
print(f'The temperature now is {celsius_to_fahrenheit(472)}F')

The temperature now is 881.6F

Loops

In [74]:
My_Temperature_List = [0, 11, 28, 42, 69]

In [75]:
celsius_to_fahrenheit(0)
celsius_to_fahrenheit(10)
celsius_to_fahrenheit(11)

51.8

In [82]:
for celsius in My_Temperature_List:
  print (celsius_to_fahrenheit(celsius))

32.0
51.8
82.4
107.6
156.2

# BMI Function

In [87]:
def BMI_Calc (height, weight):
  BMI = (weight/ height**2) * 703
  return BMI

In [88]:
BMI_Calc (73, 180)

23.74554325389379

In [89]:
My_BMI_List = [(73, 180), (60, 250), (82,100)]

In [92]:
for (height, weight)in My_BMI_List:
  print(BMI_Calc(height, weight))

23.74554325389379
48.81944444444445
10.455086258179655

In [93]:
BMI=18
if BMI<20:
  print('Underweight')
else:
  print('Normal')

Underweight

Libraries

In [101]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [98]:
sum_c = sum(My_Temperature_List)
print(c)

3

In [99]:
len_c = len(My_Temperature_List)
print(len_c)

5

In [102]:
a = np.mean(My_Temperature_List)
print(a)

30.0