<a href="https://colab.research.google.com/github/carterliston013/DCS-110/blob/main/Python_Data_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

This command imports the panda library of commands. This library can be used to provide several shortcuts for coding larger functions and is used in several different occupational areas.

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/osoliman/DSC110/refs/heads/main/Datasets/nhanes_final.csv')

This code establishes the data frame as a large data set through a link that can be accessed to show all of the individual variables.

In [3]:
df

,id,gender,age,race_ethnicity,education,bmi,height_cm,systolic_bp,has_diabetes,hba1c,fasting_glucose
0,130378.0,1.0,43.0,6.0,5.0,27.0,179.5,135.0,2.0,5.6,113.0
1,130379.0,1.0,66.0,3.0,5.0,33.5,174.2,121.0,2.0,5.6,99.0
2,130380.0,2.0,44.0,2.0,3.0,29.7,152.9,111.0,1.0,6.2,156.0
3,130381.0,2.0,5.0,7.0,NaN,23.8,120.1,NaN,2.0,NaN,NaN
4,130382.0,1.0,2.0,3.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
11928,142306.0,1.0,9.0,2.0,NaN,15.4,128.0,NaN,2.0,NaN,NaN
11929,142307.0,2.0,49.0,4.0,5.0,NaN,143.8,127.0,1.0,6.2,NaN
11930,142308.0,1.0,50.0,2.0,4.0,26.4,173.3,106.0,2.0,NaN,NaN
11931,142309.0,1.0,40.0,2.0,4.0,25.5,179.1,127.0,2.0,5.2,96.0
11932,142310.0,2.0,80.0,3.0,3.0,27.6,161.7,128.0,2.0,5.3,NaN

This code shows the contents of the dataset that was established in the dataframe.

In [4]:
df.head()

,id,gender,age,race_ethnicity,education,bmi,height_cm,systolic_bp,has_diabetes,hba1c,fasting_glucose
0,130378.0,1.0,43.0,6.0,5.0,27.0,179.5,135.0,2.0,5.6,113.0
1,130379.0,1.0,66.0,3.0,5.0,33.5,174.2,121.0,2.0,5.6,99.0
2,130380.0,2.0,44.0,2.0,3.0,29.7,152.9,111.0,1.0,6.2,156.0
3,130381.0,2.0,5.0,7.0,NaN,23.8,120.1,NaN,2.0,NaN,NaN
4,130382.0,1.0,2.0,3.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN

This code uses the head command to show the first 5 rows of the data frame.

In [7]:
df.tail(10)

,id,gender,age,race_ethnicity,education,bmi,height_cm,systolic_bp,has_diabetes,hba1c,fasting_glucose
11923,142301.0,2.0,80.0,3.0,5.0,30.5,164.3,NaN,2.0,5.6,110.0
11924,142302.0,1.0,70.0,3.0,4.0,21.4,161.5,126.0,2.0,5.2,NaN
11925,142303.0,2.0,69.0,7.0,3.0,27.9,159.2,129.0,1.0,8.1,160.0
11926,142304.0,1.0,14.0,2.0,NaN,18.5,162.4,116.0,2.0,NaN,NaN
11927,142305.0,2.0,76.0,1.0,1.0,26.4,151.4,139.0,3.0,6.0,132.0
11928,142306.0,1.0,9.0,2.0,NaN,15.4,128.0,NaN,2.0,NaN,NaN
11929,142307.0,2.0,49.0,4.0,5.0,NaN,143.8,127.0,1.0,6.2,NaN
11930,142308.0,1.0,50.0,2.0,4.0,26.4,173.3,106.0,2.0,NaN,NaN
11931,142309.0,1.0,40.0,2.0,4.0,25.5,179.1,127.0,2.0,5.2,96.0
11932,142310.0,2.0,80.0,3.0,3.0,27.6,161.7,128.0,2.0,5.3,NaN

This code uses the tail command along with the parameter '10' to show the last ten rows of the data set.

In [10]:
print(df[df['gender'] == 1.0])

(11933, 11)

This code uses the command 'shape' to show the amount of rows and columns in the dataset in dataframe.

In [13]:
df.shape[0]

11933

This code uses the shape command and parameter '0' to show the first value in the returned shape, which is the number of rows in the dataframe.

In [17]:
print(f'The number of rows in our dataframe is {df.shape[0]}.')
print(f'The number of columns in our dataframe is {df.shape[1]}.')

The number of rows in our dataframe is 11933.
The number of columns in our dataframe is 11.

This code uses the print command to add text to explain the meaning of our df.shape command using both parameters '0' and '1' to show the rows and columns in the data frame, respectively.

In [20]:
df['age'].head()

0    43.0
1    66.0
2    44.0
3     5.0
4     2.0
Name: age, dtype: float64

This code shows only the column 'age' and uses the head command to show only the first 5 rows.

In [22]:
1+1==2

True

This code shows Python's ability to verify mathematic equations, showing those that are correct as 'True'.

In [23]:
4232408-1==233

False

This code shows Python's ability to verify mathematic equations, showing those that are incorrect as 'False'.

In [24]:
int(1+1==2)

1

This uses the 'int' command to change this ability to using 1 and 0 instead of True and False, in this case showing 1 for a True statement.

In [25]:
int(5*84==4)

0

This uses the 'int' command to change this ability to using 1 and 0 instead of True and False, in this case showing 0 for a False statement.

In [26]:
int(True)

1

This code explains the meaning of 1 and 0 for the True and False function in Python. This indicates that 'True' is '1'.

In [27]:
int(False)

0

This code explains the meaning of 1 and 0 for the True and False function in Python. This indicates that 'False' is '0'.

In [28]:
df.isna().sum()

id                    0
gender                0
age                   0
race_ethnicity        0
education          4139
bmi                3462
height_cm          3434
systolic_bp        4416
has_diabetes        193
hba1c              5218
fasting_glucose    8261
dtype: int64

This code uses the 'isna' command showing which values in columns do not have an actual value. This establishes the 'sum' or amount of n/a values in each column.

In [29]:
df.isna().mean()*100

id                  0.000000
gender              0.000000
age                 0.000000
race_ethnicity      0.000000
education          34.685326
bmi                29.011984
height_cm          28.777340
systolic_bp        37.006620
has_diabetes        1.617364
hba1c              43.727478
fasting_glucose    69.228191
dtype: float64

This code uses the same isna function but uses the 'mean' command and a multiplication by 100 to return a percentage of the total values in each column that have a null value.

In [35]:
df_clean = df.dropna(subset=['has_diabetes']).copy()

This code gets rid of or 'drops' all of the n/a values from the 'has_diabetes' column, creating a copy without these data points allowing us to begin cleaning the dataframe, establishing this copy as 'df_clean'.

In [36]:
df_clean.isna().mean()*100

id                  0.000000
gender              0.000000
age                 0.000000
race_ethnicity      0.000000
education          33.611584
bmi                27.844974
height_cm          27.606474
systolic_bp        35.971039
has_diabetes        0.000000
hba1c              42.802385
fasting_glucose    68.722317
dtype: float64

This repeats the percentage of n/a command to verify that our previous code was successful.

In [37]:
df_clean.shape

(11740, 11)

This code once again shows us the 'shape' of our new copied dataframe, returning the rows and columns that remain in our data.

In [40]:
mean_bp = df_clean['systolic_bp'].mean()

This code establishes the variable 'mean_bp' as the mean of values in the column 'systolic_bp' from the df_clean data frame.

In [41]:
print(mean_bp)

119.28854596248502

This uses the print command to return the mean value of systolic bp as established in the previous command.

In [42]:
df_clean['systolic_bp'] = df_clean['systolic_bp'].fillna(mean_bp)

This code uses the 'fillna' command to fill the n/a values with the mean of all values in the systolic_bp column.

In [43]:
df_clean['systolic_bp'].isna().sum()

np.int64(0)

This command shows the n/a values that remain in the 'systolic_bp' column, returning that there are '0' values left as n/a after our previous commands to fill them.

**Transform Variables**

In [45]:
df['bmi_category'] = pd.cut(df['bmi'],
                            bins=[0, 18.5, 25, 30, 100],
                            labels=['Underweight', 'Normal', 'Overweight', 'Obese'])

This establishes the dataframe's bmi_category as subsets inputting the df 'bmi' using the bins 0, 18.5, 25, 30, and 100 as parameters and labeling them 'Underweight', 'Normal', 'Overweight', 'Obese'.

In [47]:
df['bmi_category'].head()

0    Overweight
1         Obese
2    Overweight
3        Normal
4           NaN
Name: bmi_category, dtype: category
Categories (4, object): ['Underweight' < 'Normal' < 'Overweight' < 'Obese']

This code once again shows the first 5 rows in the established bmi category of the dataframe.

In [46]:
df['bmi_category'].value_counts()

bmi_category
Obese          2666
Normal         2400
Overweight     2189
Underweight    1216
Name: count, dtype: int64

This code counts the amount of values that are included in each subset of the bmi category.

**Categorical Variable Transformation**

In [48]:
df['education'].head()

0    5.0
1    5.0
2    3.0
3    NaN
4    NaN
Name: education, dtype: float64

This code shows the first five rows' values in the education column.

In [49]:
df['education'].unique()

array([ 5.,  3., nan,  2.,  4.,  1.,  9.])

This code shows all of the unique values that are included in the education column, using the 'unique' command.

In [75]:
education_map={
    1.0: 'Less than 9th grade',
    2.0: '9-11th grade',
    3.0: 'High school graduate/GED or equivalent',
    4.0: 'Some college',
    5.0: 'College graduate or above',
    9.0: 'Do not know',
    'nan': 'Missing'
}

This uses the education_map to display the meanings of each of the unique values preseneted from the previous command.

In [76]:
df['education_label']=df['education'].map(education_map)

This command maps the values in the education map to the labels and values in the education column, allowing for more descriptive analytics.

In [77]:
df['education_label'].value_counts()

education_label
College graduate or above                 2625
Some college                              2370
High school graduate/GED or equivalent    1749
9-11th grade                               666
Less than 9th grade                        373
Do not know                                 11
Name: count, dtype: int64

This code counts the number of values for each of the different categories that have been mapped from the previous command in the education column.

**Data Summarization**

In [78]:
df['systolic_bp'].mean()

np.float64(119.28854596248503)

This uses the mean function to count the mean of the systolic_bp column, returning the data type in numpy form.

In [79]:
df['systolic_bp'].std()

18.561052201733208

This command returns the dtandard deviation of the values in the systolic_bp column.

In [80]:
df['systolic_bp'].describe()

count    7517.000000
mean      119.288546
std        18.561052
min        61.000000
25%       106.000000
50%       117.000000
75%       130.000000
max       232.000000
Name: systolic_bp, dtype: float64

This code uses the 'describe' command to show various statistical values that further explain the relationship between the numbers in the systolic_bp column.

In [81]:
df['age'].median()

37.0

This code uses the 'median' command to return the median 'age' value.

In [90]:
std_age = df['age'].std()
print(std_age)

25.60199011389104

This code establishes 'std_age' as the function of standard deviation for the age column. It then prints the established variable.

In [84]:
df['age'].quantile([0.25,0.75])

0.25    13.0
0.75    62.0
Name: age, dtype: float64

This code shows the 25th and 75th percentile in the age column using the 'quantile' command.

In [85]:
df['age'].describe()

count    1.193300e+04
mean     3.831786e+01
std      2.560199e+01
min      5.397605e-79
25%      1.300000e+01
50%      3.700000e+01
75%      6.200000e+01
max      8.000000e+01
Name: age, dtype: float64

This repeats the desriptive statistics of the age column to better understand what the values mean.

In [86]:
df['age'].mode()

0    80.0
Name: age, dtype: float64

This code uses 'mode' to show the most frequently occuring value in the age column.

Categorical
One Variable

In [87]:
df['education_label'].value_counts()

education_label
College graduate or above                 2625
Some college                              2370
High school graduate/GED or equivalent    1749
9-11th grade                               666
Less than 9th grade                        373
Do not know                                 11
Name: count, dtype: int64

This, once again, shows the amount of values that fall under each of the categories of education level.

In [89]:
df['education_label'].value_counts(normalize=True)*100

education_label
College graduate or above                 33.679754
Some college                              30.408006
High school graduate/GED or equivalent    22.440339
9-11th grade                               8.545035
Less than 9th grade                        4.785733
Do not know                                0.141134
Name: proportion, dtype: float64

This code usese the 'normalize=True' command to establish the proportions of the total that are in each of the education categories.

In [92]:
pd.crosstab(df['has_diabetes'], df['bmi_category'], normalize='index')

bmi_category  Underweight    Normal  Overweight     Obese
has_diabetes
1.0              0.004706  0.128235    0.274118  0.592941
2.0              0.163870  0.304601    0.255210  0.276319
3.0              0.000000  0.170306    0.305677  0.524017
9.0              0.500000  0.500000    0.000000  0.000000

This code uses the 'pd.crosstab' command to cross reference the proportion of people in each of the bmi categories with their levels of education.

In [94]:
pd.crosstab(df['has_diabetes'], df['bmi_category'], normalize='index')*100

bmi_category  Underweight     Normal  Overweight      Obese
has_diabetes
1.0              0.470588  12.823529   27.411765  59.294118
2.0             16.387009  30.460081   25.520974  27.631935
3.0              0.000000  17.030568   30.567686  52.401747
9.0             50.000000  50.000000    0.000000   0.000000

This is the same code as the previous code, but the values are multiplied by 100 to give a percentage rather than simply the proportion.

In [98]:
df.groupby('has_diabetes')['bmi'].median()

has_diabetes
1.0    31.80
2.0    25.60
3.0    30.50
9.0    19.25
Name: bmi, dtype: float64

This code uses 'groupby' to show the median bmi value for each level included in the 'has_diabetes' category.